$color-dark-blue: #546e7a
$color-green: #006b3f
$color-red: #eb2d2d
$color-orange: #ed6b00

$color-bg-gray: #eee

// Material Design Lite variables

$performance_font: 'Roboto', 'Helvetica', 'Arial', sans-serif
