.mdl-layout.mdl-layout--fixed-header.mdl-js-layout
    header#header.header.mdl-layout__header.mdl-layout__header--seamed.js-header

    main#content.content.mdl-layout__content

    #footer

    #spinner.spinner

