.mdl-cell.mdl-cell--middle.mdl-cell--2-col-phone.mdl-cell--2-col-tablet.align-center.mdl-cell--1-offset-tablet
    button.icon.icon--blue.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.js-select-method-btn(type="button" data-method="vk")
        .material-icons

.mdl-cell.mdl-cell--middle.mdl-cell--2-col-phone.mdl-cell--2-col-tablet.align-center
    button.icon.icon--dark-blue.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.js-select-method-btn(type="button" data-method="fb")
        .material-icons

.mdl-cell.mdl-cell--middle.mdl-cell--4-col-phone.mdl-cell--2-col-tablet.align-center
    a.icon.icon--green.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(href="register/email")
        .material-icons mail
