.mdl-cell.mdl-cell--middle.mdl-cell--3-col-phone
    .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.width-100p
        input.mdl-textfield__input.js-input(type="text", name="invite" id="invite")
        label.mdl-textfield__label(for="invite") Код приглашения

.mdl-cell.mdl-cell--middle.mdl-cell--1-col-phone
    button.js-camera-button.enter__scan.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.width-100p(type="button")
        .material-icons camera_alt

.mdl-cell.mdl-cell--middle
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.width-100p(type="submit") Готово


