extends ../layouts/red

block head
    - var pageTitle = "Messages Card"
    - var title = "Ку! Мобильные привилегии"
        
block content

    .msg
        h6.msg__title.align-center Персональный купон 15%
        p.msg__text Совершите покупкм покупкм покупкм покупкм покупкм
