extends ../layouts/red

block head
    - var pageTitle = "Messages"
    - var title = "Ку! Мобильные привилегии"
        
block header-icon
    .mdl-layout-spacer
    .material-icons delete

block content
    
    .msg
        h6.msg__title Персональный купон 15%
        p.msg__text Совершите покупкм покупкм покупкм покупкм покупкм
    
    .msg
        h6.msg__title Персональный купон 15%
        p.msg__text Совершите покупкм покупкм покупкм покупкм покупкм
    
    .msg
        h6.msg__title Персональный купон 15%
        p.msg__text Совершите покупкм покупкм покупкм покупкм покупкм
    
    .msg
        h6.msg__title Персональный купон 15%
        p.msg__text Совершите покупкм покупкм покупкм покупкм покупкм

