extends ../layouts/enter

block head
    - var pageTitle = "Registration"
    - var enterName = "Выберите способ входа"

block content
    .mdl-cell.mdl-cell--middle.mdl-cell--2-col-phone.mdl-cell--2-col-tablet.align-center.mdl-cell--1-offset-tablet
        button.icon.icon--blue.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(type="button")
            .material-icons 
            
    .mdl-cell.mdl-cell--middle.mdl-cell--2-col-phone.mdl-cell--2-col-tablet.align-center
        button.icon.icon--dark-blue.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(type="button")
            .material-icons mail
            
    .mdl-cell.mdl-cell--middle.mdl-cell--4-col-phone.mdl-cell--2-col-tablet.align-center
        button.icon.icon--green.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(type="button")
            .material-icons mail
