extends ../layouts/seller

block content
    .mdl-cell.mdl-cell--2-col-phone.mdl-cell--4-col-tablet
        .seller.mdl-card.mdl-shadow--2dp
            .seller__logo.mdl-card__media.mdl-card--expand(style="background-color: #4c75a3")
            .mdl-card__actions.mdl-card--border.align-center Продавец

    .mdl-cell.mdl-cell--2-col-phone.mdl-cell--4-col-tablet
        .seller.mdl-card.mdl-shadow--2dp
            .seller__logo.mdl-card__media.mdl-card--expand(style="background-color: #006b3f")
            .mdl-card__actions.mdl-card--border.align-center Продавец

block footer
    .mdl-layout-spacer
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-button--accen(type="button")
        i.material-icons add
        
