extends ../layouts/red

block head
    - var pageTitle = "Shares"
    - var title = "Акции"
        
block content
    .mdl-grid
        .mdl-cell.mdl-cell--4-col-phone.mdl-cell--4-col-tablet
            
            .item.item--w-100p
                .item__cell.item__cell--img: img(src="")
                .item__cell.item__cell--pl-10.item--bold
                    | Скидка 10% при покупке алкоголя на сумму от 3000 рублей
                    .item__note Проходит с 21.02
            
            .item.item--w-100p
                .item__cell.item__cell--img: img(src="")
                .item__cell.item__cell--pl-10.item--bold
                    | Скидка 10% при покупке алкоголя на сумму от 3000 рублей
                    .item__note Проходит с 21.02
            
            .item.item--w-100p
                .item__cell.item__cell--img: img(src="")
                .item__cell.item__cell--pl-10.item--bold
                    | Скидка 10% при покупке алкоголя на сумму от 3000 рублей
                    .item__note Проходит с 21.02
