extends ../layouts/red

block head
    - var pageTitle = "Shares Card"
    - var title = "Ку! Мобильные привилегии"

block content

    .shares
        img.shares__img(src="")
        .shares__descr
            .shares__text Скидка 10% при покупке алкоголя на сумму от 3000 рублей

        .shares__descr
            .shares__descr-title Время проведения
            .shares__text Проходит с 29.12.2016

        .shares__descr
            .shares__descr-title Места проведения
            .shares__text.shares__descr-important Проходит во всех магазинах
