header.header.mdl-layout__header.mdl-layout__header--seamed
    .mdl-layout-icon
        .header__back.material-icons.js-back arrow_back

    .mdl-layout__header-row
        .mdl-layout-spacer
        .material-icons add
        .header__more.material-icons more_vert

