head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(http-equiv='imagetoolbar' content='no')
    meta(http-equiv='cleartype' content='on')
    meta(http-equiv='msthemecompatible' content='no')
    meta(name='HandheldFriendly' content='True')
    meta(name='format-detection' content='telephone=no')
    meta(name='format-detection' content='address=no')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

    link(href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,100italic,100,500,500italic,700,700italic&subset=latin,cyrillic" rel="stylesheet")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="assets/styles/common.min.css?#{timestamp}" rel="stylesheet")
    script(src="assets/scripts/common.min.js" async)

    block head
    title= pageTitle

