header.header.mdl-layout__header
    .mdl-layout-icon
        .header__back.material-icons.js-back arrow_back
        
    .mdl-layout__header-row
        .header__title.mdl-layout__title= title
        block header-icon
        
            
    

