include ../helpers/mixins
include ../helpers/variables

html
    include ../partials/head
    body
        .main.bg-gray.green.mdl-layout.mdl-layout--fixed-header.mdl-js-layout
            include ../partials/header-index

            main.mdl-layout__content.js-content
                block content

