include ../helpers/mixins
include ../helpers/variables

html
    include ../partials/head
    body
        .main.mdl-layout.mdl-layout--fixed-header.mdl-js-layout
            header.header.mdl-layout__header
                .mdl-layout-icon
                    .header__back.material-icons.js-back arrow_back

                .mdl-layout__header-row
                    .header__title.mdl-layout__title= title
                    .mdl-layout-spacer
                    .material-icons done

            main.mdl-layout__content
                block content

